body {
    background-color:black;
    color: silver;
    border: round;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

#footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: silver;
   color: white;
   text-align: center;
   font-size: 20px;

}