
h1 {

    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    text-align: center;
    background: rgb(99, 131, 238);
}

 body {
     padding: 20px;
     background: black;  
    
 }
#image-column {
    max-width: 800px;
    margin: auto;
    column-width: 200px;
    column-gap: 0px;
    background-color: deepskyblue ;
    padding: 10px 20px;

}

#footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: silver;
   color: white;
   text-align: center;
   font-size: 20px;

}
